* text=auto eol=lf
*.py text eol=lf
*.html text eol=lf
*.md text eol=lf
*.json text eol=lf
*.css text eol=lf
*.js text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.dump binary
*.zip binary
*.pdf binary
